.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.logo {
    width: 70px;
    padding: 5px 10px;
}

.res-card{
    padding: 5px;
    width: 230px;
    margin: 10px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-buttons{
    margin: 10px;
}

.filter-rating{
    margin: 5px;
}

